
body {
    box-sizing: border-box;
    padding: 50px 0 0 0;
    margin: 0;
    background: #cecece;
}

.gridContainer {
    
    display: grid;
    grid-template-columns: 0.25fr auto;
    grid-template-rows: auto;

    border: 2px solid #FFF;
    height: 100%;
    width: 100%;
    
}

.sideBar {

    background: #00ff37;
}

.sideBar div.navButton{
    border: 1px solid;
    height: 30px;
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 10px 50px 0px 50px;
    background: grey;    
}

div.errored {
    
    background: #ff0000 !important;
}

div .errored a {
    color: black;
}

.sideBar div a {
    color: #FFF;
    text-decoration: none;
}


.contentArea {

    background: rgb(240, 150, 195);

}

/* .isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
 */
